*\.swp
*~
\#*
\.\#*

*\.aux
*\.log
*\.out
*\.bbl
*\.blg
*\.dvi
*\.pdf

compiled/
benchmark/
output/

tmp-contract-profile-*

htdp/base/Images/.DS_Store

summary

racket-logo.jpg
popl-2016-archive.tar
